.ritz .waffle a {
    color: inherit;
  }

 tr { 
  border: 1px SOLID #000000; 
 }

  .ritz .waffle .location {
    border-bottom: SOLID black 1px;
    border-left: SOLID black 1px;
    border-right: SOLID black 1px;
    background-color: #dce6f1;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'Arial';
    font-size: min(1.3vw, 13pt);
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 0.8vw 2px 0.8vw;
    height: max(40px, 3.8vw)
}

  .ritz .waffle .title {
    border-top: SOLID black 1px;
    border-left: SOLID black 1px;
    border-right: SOLID black 1px;

    background-color: #f4cccc;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Arial';
    font-size: min(1.7vw, 18pt);
    vertical-align: middle;
    word-wrap: break-word;
    direction: ltr;
    padding: min(1vw,30px) 3px 1vw min(1vw,30px);
  }

  .ritz .waffle .teacher {
    border-bottom: SOLID black 1px;
    border-right: SOLID black 1px;
    background-color: #ffffff;
    text-align: left;
    font-weight: bold;
    color: #000000;
    font-family: 'docs-Calibri', Arial;
    font-size: min(0.9vw, 14pt);
    vertical-align: top;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .time {
    border-bottom: SOLID black 1px;
    border-right: SOLID black 1px;
    border-top: SOLID black 1px;
    background-color: #d9ead3;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'arial';
    font-size: min(1vw, 10pt);
    vertical-align: top;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .empty {
    border-bottom: SOLID black 1px;
    border-right: SOLID black 1px;
    background-color: #ff3030;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'docs-Calibri', Arial;
    font-size: min(0.9vw, 14pt);
    vertical-align: middle;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .lunchTime {
    border-bottom: SOLID black 1px;
    border-right: SOLID black 1px;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-family: 'arial';
    font-size: min(1vw, 10pt);
    vertical-align: top;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .tableTitle {
    border: SOLID black 1px;
    background-color: #ead1dc;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'arial';
    font-size: min(2vw, 18pt);
    vertical-align: middle;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
  .ritz .waffle .period {
    border-right: SOLID black 1px;
    border-top: SOLID black 1px;
    background-color: #b6d7a8;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'arial';
    font-size: min(1.6vw, 14pt);
    vertical-align: middle;
    word-wrap: break-word;
    direction: ltr;
    padding: 0.9vw 3px 0.9vw 3px;
  }

  .ritz .waffle .lunchDutyOne {
    border-bottom: SOLID black 1px;
    border-right: SOLID black 1px;
    background-color: #cfe2f3;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Arial';
    font-size: min(1vw, 10pt);
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .lunchDutyTwo {
    border-bottom: SOLID black 1px;
    border-right: SOLID black 1px;
    background-color: #f4cccc;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Arial';
    font-size: min(1vw, 10pt);
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .Security {
    border-bottom: SOLID black 1px;
    border-right: SOLID black 1px;
    background-color: #ffffff;
    text-align: center;
    color: #ff0000;
    font-family: 'Arial';
    font-size: min(0.9vw, 14pt);
    vertical-align: middle;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }

  .ritz .waffle .noDuty {
    border-bottom: SOLID black 1px;
    border-right: SOLID black 1px;
    background-color: #d9d9d9;
    text-align: center;
    font-style: italic;
    color: #000000;
    font-family: 'arial';
    font-size: min(0.9vw, 14pt);
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 2px 3px 2px 3px;
  }
