<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="content.js"></script>
    <title>index</title>
  </head>
  <body>
    <h1>Duty Maneger</h1>
    <p id="display">loading...</p>
    <script>
      function HTMLshower(JSON) {
        const disp = JSON.data.values[9]
        document.getElementById("display").innerHTML = disp;
      }

      async function GET(url) {
        const response = await fetch(url);
        var JSON = await response.json();
        console.log(JSON);
        HTMLshower(JSON);
      }

      GET("http://localhost:3000/content.js");
    </script>
  </body>
</html>